body {
    background-color:#F2FFFC;
    font-family: "Crimson text", Serif;
    font-size: 20px;
}
main > h1{
    font-size:60px;
    background-color: rgb(120,30,60);
    color: rgb(250,255,250);
    text-align: center;
    font-family:"open sans",sans-serif;
    padding:20px;
    margin:0px;
}
h2{
    font-size: 40px;
    font-family:"open sans", sans-serif;
}
p{
    text-align: justify;
    margin: 20px 0px;
}
blockquote {
    background-color: #D3DDDA;
    padding:16px;
    border:10px solid #C2CCCA;
    width: 250px;
    margin:20px;
}